<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Tic Tac Toe</h1>
        <p class="subtitle">Player vs Computer Edition</p>
        <p class="subtitle">Mousa Adnan - Github: MousaAdnan - EDX: MousaAdnan Located in: London, Canada</p>
    </header>
    <main>
        <div class="scores">
            <div class="score">
                <p>Player Wins</p>
                <span id="player-wins">0</span>
            </div>
            <div class="score">
                <p>Computer Wins</p>
                <span id="computer-wins">0</span>
            </div>
            <div class="score">
                <p>Ties</p>
                <span id="ties">0</span>
            </div>
        </div>
        <div id="winner-message"></div> <!-- Big text for the winner message -->
        <div id="grid">
            {% for i in range(9) %}
                <div class="cell" data-position="{{ i }}"></div>
            {% endfor %}
        </div>
        <button id="reset">Reset Game</button>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/scripts.js"></script>
</body>
</html>
